body{
    background-color: white;
    font-family: "Pridi", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../img/fundo\ red.png);
    background-attachment: fixed;
    background-size: cover;
}

header{
    background-color: #ebe8e8;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho{
    display: flex;   
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}


nav{
    background-color: #ebe8e8;
}

main{
    margin-top: 7%;
}

section{
    background-color: #dda0dd9c;
}

footer{
    background-color: #ebe8e8;
    padding: 3%;
}

/*titulos e textos*/

h1,h2{
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

p{
    line-height: 1.5;
    font-size: 1.2em;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
   
}

ul li{
    line-height: 1.5;
    font-size: 1.2em;
}

/*menu*/

.logo{
    background-color: #ebe8e8;
    width: 15%;
}

/*tabela*/

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #e9e5e9;
}

/* menu */

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
  
  
nav ul li {
    margin: 0 10px;
}
  
 nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
  
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}
  
#menu-toggle {
    display: none;
}

/* responsividade menu */

@media only screen and (max-width: 800px){
    .menu-icon {
      display: block;
      padding-right: 10px;
}
  
nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: #dda0ddb2;
    top: 60px;
    left: 0;
    z-index: 1;
    padding: 0;
}
  
#menu-toggle:checked + .menu-icon + ul {
    display: flex;
}
  
nav ul li {
    text-align: center;
    margin: 0;
}
  
nav ul li a {
    padding: 15px 0;
}
  
nav ul li label {
    /* width: 100%; */
    display: block;
}

main{
    margin-top: 13%;
}
}


/* links menu */

.menu:link {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}
  
.menu:visited {
    color:  black;
    background-color: transparent;
    text-decoration: none;
}
  
.menu:hover {
    color: #DDA0DD;
    background-color: transparent;
    text-decoration: underline;
}
  
.menu:active {
    color:rgb(116, 141, 212) ;
    background-color: transparent;
    text-decoration: underline;
}

/* página eras */

.linha{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}

.capa{
    width: 30%;
}

.texto{
    width: 70%;
}

img{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.album{
    text-align: justify;
}

.debut{
    background-color: rgb(61, 245, 61);
}

.fearless{
    background-color: #FFD700;
}

.speaknow{
    background-color: #BA55D3;
}

.red{
    background-color: rgb(207, 4, 4);
}

.azul{
    background-color: #87CEFA;
}

.reputation{
    background-color: #000000;
}

.rep{
    text-align: center;
    color: white;
}

.album-rep{
    text-align: justify;
    color: white;
}

.lover{
    background-color:  #FF69B4;
}

.folklore{
    background-color: #BEBEBE;
}

.evermore{
    background-color: #a15015;
}

.midnights{
    background-color: #27408B;
}

.ttpd{
    background-color: white;
}
iframe{
    width: 100%;

}

/*linha do tempo*/

html, ul, li {
    margin: 0;
    padding: 0;
    color:#272424;
    
}

body{
    background-color: #aaaaaa;
}

.linhadotempo{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color:#272424;
    background-color: #aaaaaa;    
}

.container {
    padding: 20px 0;
}

.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    background-color: #333333;
}

.timeline {
    position: relative;
    margin: 0 auto;
    width: 90%;
}

.timeline ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    list-style-type: none;
}

.timeline ul li .content {
    width: 50%;
    padding: 0 20px;
}


.timeline ul li .date {
    width: 50%;
    padding: 0 20px;
    font-weight: normal;
}

.timeline ul li:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 {
    float: right
}

.timeline ul li .content h3 {
    padding: 10px 20px;
    background-color: #be9fe1;
    margin-bottom: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.timeline ul li .content p {
    padding: 10px 20px;
    background-color: #e1d9ec;
    margin-top: 0;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.timeline ul li .date h4 {
    background-color: #e1ccec;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;

}

.point {
    min-width: 20px;
    min-height: 20px;
    background-color: #be9fe1;
    border-radius: 100%;
    border: 3px #333333 solid;
    position: relative;
}



  